

.wrapper {
	background-color: aliceblue;
}

.logo {
    margin: auto;
    width: 300px;
}

nav.nav {
    margin: 30px auto;
    width: max-content;
}

.nav ul {
    list-style-type: none;
    padding-left: 0;
}

.nav ul li {
    display: inline-block;
	font-size: 28px;
    padding: 0 20px;
}

.row img {
    height: 102px;
}

.cat-name h1 {
    margin: 20px;
    font-weight: 600;
}

.row1 {
    border: 1px solid #c3c3c3;
}

.row1.col-1.col-sm-2 {
    border-right: none;
    padding-left: 0;
}

.content .col-sm-7 {
    padding-right: 40px;
    padding-left: 0;
}

.col-sm-7 {
	border-right: none;
	border-left: none;
}

.col-2 .col-sm-9 {
    padding-left: 0;
}

.col-2 {
    padding-top: 19px;
}

.col-3 {
    padding-top: 13px;
}

.values {
	padding-top: 15px;
}

.prices .col-sm-3 {
    border: 1px solid #c3c3c3;
    padding: 20px 0;
    margin-top: -13px;
}

.price {
    padding-top: 12px;
}

.weight {
	text-align: center;
}


.footer {
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
}